extends layout

block content
	div.wrapper
		a(href="http://dataforgood.co")
			img(src='/images/home.png')
		p 
			strong	Monday, 20th October 2014
		h1 "GO FUCKING DO IT" PASSES $50,000 IN PLEDGES TO MAKE MORE PEOPLE ACHIEVE THEIR GOALS
		p
			strong Money is one of the greatest incentives around. And the only greater incentive than earning money is losing it. 
				a(href="http://GoFuckingDoIt.com") GoFuckingDoIt.com 
				| pushes this concept to the extreme. It makes people achieve their goals by charging them if they don't. Currently, 559 people have pledged a total of $50,193 to achieve their goals. People have set goals from quitting smoking to running a marathon to asking out the girl they've been in love with but didn't dare to.
		p People set a goal, deadline, price and a supervisor to check if they've actually achieved their goal. When the deadline is reached and the supervisor states they haven't, their card is charged with an amount they can set from $5 up to $1,000
		p Studies show that financial incentives to reach goals such as losing weight makes people more effective at achieving them 
			a(href="https://j.mp/1tKMXRK") (Source: https://j.mp/1tKMXRK)
			|. And with only 8% of people achieving their new year's resolutions, it can help those too. 
			a(href="https://j.mp/1itXrvv") (Source: https://j.mp/1itXrvv)
		p
			strong GoFuckingDoIt is the second startup created by 
				a(href="")@levelsio 
				| as part of his goal to launch 12 Startups in 12 Months. He builds, launches and tries to find a market fit for his startup in one month.
		p
			strong Startup
				br 
				a(href="") GoFuckingDoIt.com
		p
			strong URL
			br
			a(href="") https://GoFuckingDoIt.com
		p
			strong Press Contact
				br
				a(href="") hello@levels.io
		p 
			strong Screenshots
		a(href="http://dataforgood.co")
			img(src='/images/home.png')
		div
			div.lefthalf
				img.circle(src='/images/viktor.jpeg')
			div.righthalf
				p “Thank you very much – and congratulations. This is wonderful. I just tweeted about it. Best, VMS”
				br
				strong Viktor Mayer-Schönberger,
				br
				strong Professor at the Oxford Internet Institute


