extends layout

block content
	div.wrapper
		a(href="http://dataforgood.co")
			img(src='/images/home.png')
		p 
			strong #{moment().format("dddd, Do MMMM YYYY")}
		h1 "GO FUCKING DO IT" PASSES $50,000 IN PLEDGES TO MAKE MORE PEOPLE ACHIEVE THEIR GOALS
		p
			strong Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis 
				| dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae
		p  Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend
			| c, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellu
		p
			strong Eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae 

		p
			strong There are currently #{XX} projects on the site
		p
			strong Startup
			br
			| Data for Good
		p
			strong URL
			br
			a(href="http://www.dataforgood.co") http://www.dataforgood.co
		p
			strong Press Contact
				br
				a(href="mailto:info@dataforgood.co" target="_blank") info@dataforgood.co
		p 
			strong Screenshots
		a(href="http://dataforgood.co")
			img(src='/images/home.png')
		div
			div.lefthalf
				img.circle(src='/images/viktor.jpg')
			div.righthalf
				p “Thank you very much – and congratulations. This is wonderful. I just tweeted about it. Best, VMS”
				br
				strong Viktor Mayer-Schönberger,
				br
				strong Professor at the Oxford Internet Institute


