body
  background-color  rgb(246,244,242)
  margin  0 auto
  padding 0
  max-width 800px
  font-family "Proxima Nova","Helvetica Neue","Helvetica","sans-serif"
  .wrapper
    background-color  #ffffff
    margin  2em
    padding 0
    border 0.1em solid rgb(206,204,202)
    border-radius 0.2em
    p
      padding-left 2em
      padding-right 2em
    h1
      padding-left 1em
      padding-right 1em
    a
      text-decoration none
      color #8cc2d9
  img
    width 100%
  div
    background-color #ffffff
    padding-top 20px
    .lefthalf
      width 30%
      float left
      img
        width 90%
        border-radius 100%
        height 210px
        padding-left 10px
    .righthalf
      width 70%
      float right
      height 210px
      p
        width 80%
        padding-left 20%
      strong 
        width 80%
        padding-left 20%